div#hotstuffdiv > div.inside > div {
        /*display: inline-table;
        width:30%;
        margin:15px;*/
}

div#hotstuffdiv > div.inside {
        /*background-color: #eee;*/
}

#wpfooter {
        position: relative;
} 

/* TODO: ADD FROM THEME */